.container p:nth-child(2){
    margin-top:50px;
    margin-bottom:0px;
    font-size: 0.7em;
    text-align: left;
}
.container p:nth-child(2) strong{
    padding-left:15%;
}
.container ul{
    align-self: left;
}
.container p:last-child{
    font-size: 1em;
}