.container{
    position:relative;
}
.section{
    position: absolute; 
    left: 50px;
    bottom: 0px;
    font-weight: bolder;
    font-style:italic;
    color: #555;
}
.container img{
    height:40vh;
}