.container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .thanks{
    font-size: 2em;
    font-weight: bolder;
    height:50%;
    width:100%;
    color: #555;
    margin-bottom: 50px;
}
.container .foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:50%;
    width:100%;
}
.container .dmath{
    width:40%;
    height:60%;
}
.container .info{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height:40%;
}
